:after:where(.dm-preflight, .dm-preflight *),
:before:where(.dm-preflight, .dm-preflight *),
:where(.dm-preflight, .dm-preflight *) {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}
:after:where(.dm-preflight, .dm-preflight *),
:before:where(.dm-preflight, .dm-preflight *) {
  --tw-content: '';
}
.dm-preflight {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: Equinor, sans-serif;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  line-height: inherit;
}
hr:where(.dm-preflight, .dm-preflight *) {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}
abbr:where([title]):where(.dm-preflight, .dm-preflight *) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
h1:where(.dm-preflight, .dm-preflight *),
h2:where(.dm-preflight, .dm-preflight *),
h3:where(.dm-preflight, .dm-preflight *),
h4:where(.dm-preflight, .dm-preflight *),
h5:where(.dm-preflight, .dm-preflight *),
h6:where(.dm-preflight, .dm-preflight *) {
  font-size: inherit;
  font-weight: inherit;
}
a:where(.dm-preflight, .dm-preflight *) {
  color: inherit;
  text-decoration: inherit;
}
b:where(.dm-preflight, .dm-preflight *),
strong:where(.dm-preflight, .dm-preflight *) {
  font-weight: bolder;
}
code:where(.dm-preflight, .dm-preflight *),
kbd:where(.dm-preflight, .dm-preflight *),
pre:where(.dm-preflight, .dm-preflight *),
samp:where(.dm-preflight, .dm-preflight *) {
  font-family:
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    Liberation Mono,
    Courier New,
    monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em;
}
small:where(.dm-preflight, .dm-preflight *) {
  font-size: 80%;
}
sub:where(.dm-preflight, .dm-preflight *),
sup:where(.dm-preflight, .dm-preflight *) {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: initial;
}
sub:where(.dm-preflight, .dm-preflight *) {
  bottom: -0.25em;
}
sup:where(.dm-preflight, .dm-preflight *) {
  top: -0.5em;
}
table:where(.dm-preflight, .dm-preflight *) {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}
button:where(.dm-preflight, .dm-preflight *),
input:where(.dm-preflight, .dm-preflight *),
optgroup:where(.dm-preflight, .dm-preflight *),
select:where(.dm-preflight, .dm-preflight *),
textarea:where(.dm-preflight, .dm-preflight *) {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}
button:where(.dm-preflight, .dm-preflight *),
select:where(.dm-preflight, .dm-preflight *) {
  text-transform: none;
}
button:where(.dm-preflight, .dm-preflight *),
input:where([type='button']):where(.dm-preflight, .dm-preflight *),
input:where([type='reset']):where(.dm-preflight, .dm-preflight *),
input:where([type='submit']):where(.dm-preflight, .dm-preflight *) {
  -webkit-appearance: button;
  background-color: initial;
  background-image: none;
}
:-moz-focusring:where(.dm-preflight, .dm-preflight *) {
  outline: auto;
}
:-moz-ui-invalid:where(.dm-preflight, .dm-preflight *) {
  box-shadow: none;
}
progress:where(.dm-preflight, .dm-preflight *) {
  vertical-align: initial;
}
::-webkit-inner-spin-button:where(.dm-preflight, .dm-preflight *),
::-webkit-outer-spin-button:where(.dm-preflight, .dm-preflight *) {
  height: auto;
}
[type='search']:where(.dm-preflight, .dm-preflight *) {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-search-decoration:where(.dm-preflight, .dm-preflight *) {
  -webkit-appearance: none;
}
::-webkit-file-upload-button:where(.dm-preflight, .dm-preflight *) {
  -webkit-appearance: button;
  font: inherit;
}
summary:where(.dm-preflight, .dm-preflight *) {
  display: list-item;
}
blockquote:where(.dm-preflight, .dm-preflight *),
dd:where(.dm-preflight, .dm-preflight *),
dl:where(.dm-preflight, .dm-preflight *),
figure:where(.dm-preflight, .dm-preflight *),
h1:where(.dm-preflight, .dm-preflight *),
h2:where(.dm-preflight, .dm-preflight *),
h3:where(.dm-preflight, .dm-preflight *),
h4:where(.dm-preflight, .dm-preflight *),
h5:where(.dm-preflight, .dm-preflight *),
h6:where(.dm-preflight, .dm-preflight *),
hr:where(.dm-preflight, .dm-preflight *),
p:where(.dm-preflight, .dm-preflight *),
pre:where(.dm-preflight, .dm-preflight *) {
  margin: 0;
}
fieldset:where(.dm-preflight, .dm-preflight *) {
  margin: 0;
  padding: 0;
}
legend:where(.dm-preflight, .dm-preflight *) {
  padding: 0;
}
menu:where(.dm-preflight, .dm-preflight *),
ol:where(.dm-preflight, .dm-preflight *),
ul:where(.dm-preflight, .dm-preflight *) {
  list-style: none;
  margin: 0;
  padding: 0;
}
dialog:where(.dm-preflight, .dm-preflight *) {
  padding: 0;
}
textarea:where(.dm-preflight, .dm-preflight *) {
  resize: vertical;
}
input::-moz-placeholder:where(.dm-preflight, .dm-preflight *),
textarea::-moz-placeholder:where(.dm-preflight, .dm-preflight *) {
  opacity: 1;
  color: #9ca3af;
}
input::placeholder:where(.dm-preflight, .dm-preflight *),
textarea::placeholder:where(.dm-preflight, .dm-preflight *) {
  opacity: 1;
  color: #9ca3af;
}
[role='button']:where(.dm-preflight, .dm-preflight *),
button:where(.dm-preflight, .dm-preflight *) {
  cursor: pointer;
}
:disabled:where(.dm-preflight, .dm-preflight *) {
  cursor: default;
}
audio:where(.dm-preflight, .dm-preflight *),
canvas:where(.dm-preflight, .dm-preflight *),
embed:where(.dm-preflight, .dm-preflight *),
iframe:where(.dm-preflight, .dm-preflight *),
img:where(.dm-preflight, .dm-preflight *),
object:where(.dm-preflight, .dm-preflight *),
svg:where(.dm-preflight, .dm-preflight *),
video:where(.dm-preflight, .dm-preflight *) {
  display: block;
  vertical-align: middle;
}
img:where(.dm-preflight, .dm-preflight *),
video:where(.dm-preflight, .dm-preflight *) {
  max-width: 100%;
  height: auto;
}
[hidden]:where(.dm-preflight, .dm-preflight *) {
  display: none;
}
*,
::backdrop,
:after,
:before {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #3b82f680;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}
.container {
  width: 100%;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
.\!visible {
  visibility: visible !important;
}
.visible {
  visibility: visible;
}
.collapse {
  visibility: collapse;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.sticky {
  position: sticky;
}
.m-0 {
  margin: 0;
}
.m-0\.5 {
  margin: 0.125rem;
}
.m-1 {
  margin: 0.25rem;
}
.m-2 {
  margin: 0.5rem;
}
.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.mb-3 {
  margin-bottom: 0.75rem;
}
.mb-5 {
  margin-bottom: 1.25rem;
}
.me-1 {
  margin-inline-end: 0.25rem;
}
.ms-2 {
  margin-inline-start: 0.5rem;
}
.ms-5 {
  margin-inline-start: 1.25rem;
}
.mt-0 {
  margin-top: 0;
}
.mt-0\.5 {
  margin-top: 0.125rem;
}
.mt-1 {
  margin-top: 0.25rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-4 {
  margin-top: 1rem;
}
.mt-5 {
  margin-top: 1.25rem;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.table {
  display: table;
}
.table-row {
  display: table-row;
}
.grid {
  display: grid;
}
.hidden {
  display: none;
}
.h-10 {
  height: 2.5rem;
}
.h-9 {
  height: 2.25rem;
}
.h-full {
  height: 100%;
}
.h-px {
  height: 1px;
}
.min-h-0 {
  min-height: 0;
}
.w-1\/4 {
  width: 25%;
}
.w-12 {
  width: 3rem;
}
.w-24 {
  width: 6rem;
}
.w-6 {
  width: 1.5rem;
}
.w-9 {
  width: 2.25rem;
}
.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}
.w-full {
  width: 100%;
}
.max-w-full {
  max-width: 100%;
}
.flex-shrink,
.shrink {
  flex-shrink: 1;
}
.shrink-0 {
  flex-shrink: 0;
}
.flex-grow,
.grow {
  flex-grow: 1;
}
.border-collapse {
  border-collapse: collapse;
}
.-translate-y-1 {
  --tw-translate-y: -0.25rem;
}
.-translate-y-1,
.rotate-180 {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.rotate-180 {
  --tw-rotate: 180deg;
}
.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.cursor-pointer {
  cursor: pointer;
}
.appearance-none {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.grid-cols-7 {
  grid-template-columns: repeat(7, minmax(0, 1fr));
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.items-center {
  align-items: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.gap-1 {
  gap: 0.25rem;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-2\.5 {
  gap: 0.625rem;
}
.gap-3 {
  gap: 0.75rem;
}
.space-x-1 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.25rem * var(--tw-space-x-reverse));
  margin-left: calc(0.25rem * (1 - var(--tw-space-x-reverse)));
}
.space-x-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * (1 - var(--tw-space-x-reverse)));
}
.self-end {
  align-self: flex-end;
}
.self-center {
  align-self: center;
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-ellipsis {
  text-overflow: ellipsis;
}
.whitespace-nowrap {
  white-space: nowrap;
}
.whitespace-pre-wrap {
  white-space: pre-wrap;
}
.rounded {
  border-radius: 0.25rem;
}
.rounded-\[inherit\] {
  border-radius: inherit;
}
.rounded-full {
  border-radius: 9999px;
}
.rounded-md {
  border-radius: 0.375rem;
}
.rounded-sm {
  border-radius: 0.125rem;
}
.border {
  border-width: 1px;
}
.border-b {
  border-bottom-width: 1px;
}
.border-t {
  border-top-width: 1px;
}
.border-\[\#ccc\] {
  --tw-border-opacity: 1;
  border-color: rgb(204 204 204 / var(--tw-border-opacity));
}
.border-\[\#dddddd\] {
  --tw-border-opacity: 1;
  border-color: rgb(221 221 221 / var(--tw-border-opacity));
}
.border-black {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity));
}
.border-equinor-charcoal {
  --tw-border-opacity: 1;
  border-color: rgb(111 111 111 / var(--tw-border-opacity));
}
.border-equinor-green {
  --tw-border-opacity: 1;
  border-color: rgb(0 112 121 / var(--tw-border-opacity));
}
.border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}
.bg-\[\#85babf5e\] {
  background-color: #85babf5e;
}
.bg-equinor-lightgray {
  --tw-bg-opacity: 1;
  background-color: rgb(247 247 247 / var(--tw-bg-opacity));
}
.bg-equinor-lightgreen {
  --tw-bg-opacity: 1;
  background-color: rgb(222 237 238 / var(--tw-bg-opacity));
}
.bg-gray-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity));
}
.bg-purple-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 232 255 / var(--tw-bg-opacity));
}
.bg-transparent {
  background-color: initial;
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.p-0 {
  padding: 0;
}
.p-1 {
  padding: 0.25rem;
}
.p-1\.5 {
  padding: 0.375rem;
}
.p-2 {
  padding: 0.5rem;
}
.p-3 {
  padding: 0.75rem;
}
.p-4 {
  padding: 1rem;
}
.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.px-1\.5 {
  padding-left: 0.375rem;
  padding-right: 0.375rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.py-2 {
  padding-top: 0.5rem;
}
.pb-2,
.py-2 {
  padding-bottom: 0.5rem;
}
.pb-3 {
  padding-bottom: 0.75rem;
}
.pb-4 {
  padding-bottom: 1rem;
}
.pb-\[3px\] {
  padding-bottom: 3px;
}
.pl-2 {
  padding-left: 0.5rem;
}
.pr-2 {
  padding-right: 0.5rem;
}
.ps-1 {
  padding-inline-start: 0.25rem;
}
.ps-2 {
  padding-inline-start: 0.5rem;
}
.pt-2 {
  padding-top: 0.5rem;
}
.text-center {
  text-align: center;
}
.align-middle {
  vertical-align: middle;
}
.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}
.font-bold {
  font-weight: 700;
}
.font-medium {
  font-weight: 500;
}
.font-normal {
  font-weight: 400;
}
.uppercase {
  text-transform: uppercase;
}
.text-equinor-green {
  --tw-text-opacity: 1;
  color: rgb(0 112 121 / var(--tw-text-opacity));
}
.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}
.text-purple-600 {
  --tw-text-opacity: 1;
  color: rgb(147 51 234 / var(--tw-text-opacity));
}
.text-slate-400 {
  --tw-text-opacity: 1;
  color: rgb(148 163 184 / var(--tw-text-opacity));
}
.underline {
  text-decoration-line: underline;
}
.opacity-40 {
  opacity: 0.4;
}
.opacity-50 {
  opacity: 0.5;
}
.shadow {
  --tw-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.blur {
  --tw-blur: blur(8px);
}
.blur,
.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}
.transition {
  transition-property:
    color,
    background-color,
    border-color,
    text-decoration-color,
    fill,
    stroke,
    opacity,
    box-shadow,
    transform,
    filter,
    -webkit-backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-property:
    color,
    background-color,
    border-color,
    text-decoration-color,
    fill,
    stroke,
    opacity,
    box-shadow,
    transform,
    filter,
    backdrop-filter,
    -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}
.duration-75 {
  transition-duration: 75ms;
}
.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Equinor, sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
* {
  box-sizing: inherit;
}
#root {
  display: flex;
  height: 100%;
  width: 100%;
}
.flex-layout-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
  width: 100%;
}
.scroll {
  overflow-y: auto;
}
.flex-row {
  flex-direction: row;
}
.dm-plugin-padding {
  padding: 1rem;
}
.dm-parent-plugin .dm-plugin-padding {
  padding: 0;
}
.dm-table-row .dm-plugin-padding {
  padding-block: 0.5rem;
  padding-inline: 0;
}
.transition-all,
Button {
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hover\:bg-equinor-lightgreen:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(222 237 238 / var(--tw-bg-opacity));
}
.hover\:text-equinor-green:hover {
  --tw-text-opacity: 1;
  color: rgb(0 112 121 / var(--tw-text-opacity));
}
.hover\:underline:hover {
  text-decoration-line: underline;
}
.hover\:opacity-100:hover {
  opacity: 1;
}
.hover\:opacity-60:hover {
  opacity: 0.6;
}
.hover\:opacity-80:hover {
  opacity: 0.8;
}
.group:hover .group-hover\:bg-equinor-lightgreen {
  --tw-bg-opacity: 1;
  background-color: rgb(222 237 238 / var(--tw-bg-opacity));
}
.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.mt-10 {
  margin-top: 2.5rem;
}
.mt-5 {
  margin-top: 1.25rem;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.flex {
  display: flex;
}
.table {
  display: table;
}
.grid {
  display: grid;
}
.contents {
  display: contents;
}
.hidden {
  display: none;
}
.h-full {
  height: 100%;
}
.h-px {
  height: 1px;
}
.min-h-0 {
  min-height: 0;
}
.w-full {
  width: 100%;
}
.flex-grow {
  flex-grow: 1;
}
.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.flex-col {
  flex-direction: column;
}
.content-center {
  align-content: center;
}
.items-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.overflow-auto {
  overflow: auto;
}
.border {
  border-width: 1px;
}
.bg-\[\#e0dcdc\] {
  --tw-bg-opacity: 1;
  background-color: rgb(224 220 220 / var(--tw-bg-opacity));
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.outline {
  outline-style: solid;
}
.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}
